<div ng-app="myApp" ng-controller="formCtrl">
 <%= form_for @purchase, novalidate: true do |f| %>
 <div class='col-md-12'>
   <div class='col-md-6 text-center'>
     <div class="form-group">
       <label for="name">OrderNumber</label>
       <!-- <input type="text" ng-model="PurchaseOrderNumber" class="form-control"> -->
       <%= f.text_field :purchaseordernumber, class: 'form-control' %>
     </div>
     <div class="form-group">
       <label for="name">OrderDate</label>
       <!-- <input type="text" ng-model="OrderDate" class="form-control"> -->
       <%= f.text_field :orderdate, class: 'form-control' %>
     </div>
   </div>
   <div class='col-md-3 text-center'>
     <h2>Shipping</h2>
     <%= f.fields_for :shipping do |s| %>
     <div class="form-group">
      <label for="name">shippinName</label>
      <!-- <input type="text" ng-model="shipingName" class="form-control"> -->
      <%= s.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="name">shippingStreet</label>
      <!-- <input type="text" ng-model="shippingStreet" class="form-control"> -->
      <%= s.text_field :street, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="name">shippingCity</label>
      <!-- <input type="text" ng-model="shippingCity" class="form-control"> -->
      <%= s.text_field :city, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="name">shippingState</label>
      <!-- <input type="text" ng-model="shippingState" class="form-control"> -->
      <%= s.text_field :state, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="name">shippingZip</label>
      <!-- <input type="text" ng-model="shippingZip" class="form-control"> -->
      <%= s.text_field :zip, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="name">shippingCountry</label>
      <!-- <input type="text" ng-model="shippingCountry" class="form-control"> -->
      <%= s.text_field :country, class: 'form-control' %>
    </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <h2>billing</h2>
    <%= f.fields_for :billing do |s| %>
    <div class="form-group">
      <label for="name">shippinName</label>
      <!-- <input type="text" ng-model="shipingName" class="form-control"> -->
      <%= s.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="name">shippingStreet</label>
      <!-- <input type="text" ng-model="shippingStreet" class="form-control"> -->
      <%= s.text_field :street, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="name">shippingCity</label>
      <!-- <input type="text" ng-model="shippingCity" class="form-control"> -->
      <%= s.text_field :city, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="name">shippingState</label>
      <!-- <input type="text" ng-model="shippingState" class="form-control"> -->
      <%= s.text_field :state, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="name">shippingZip</label>
      <!-- <input type="text" ng-model="shippingZip" class="form-control"> -->
      <%= s.text_field :zip, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="name">shippingCountry</label>
      <!-- <input type="text" ng-model="shippingCountry" class="form-control"> -->
      <%= s.text_field :country, class: 'form-control' %>
    </div>
    <% end %>
  </div>
  <div class="col-md-12">
    <h3>Items</h3>
    <div class="links">
      <%= link_to_add_association 'add Item', f, :items %>
    </div>
    <%= f.fields_for :items do |item| %>
    <%= render 'item_fields', f: item   %>
    <% end %>
  </div>
</div>
<div class="col-md-12">
  <%= f.submit "Save", class: 'btn btn-primary' %>
</div>
<% end %>
</div>
</div>
<%= content_for :javascripts do %>
<script>
var App = angular.module('myApp', []);
App.controller('formCtrl', 
  function get($scope, $http ) {
    $http.get('/xmlformat.json').then(
     function(res){
      $scope.data = res.data;
    });
  }
  );
</script>
<% end %>
