<div ng-app="myApp" ng-controller="formCtrl">
 <%= form_for @purchase, novalidate: true do |f| %>
 <div class='col-md-12'>
   <div class='col-md-6 text-center'>
     <div class="form-group">
       <label for="name">OrderNumber</label>
       <!-- <input type="text" ng-model="PurchaseOrderNumber" class="form-control"> -->
       <%= f.text_field :purchaseordernumber, class: 'form-control' %>
     </div>
     <div class="form-group">
       <label for="name">OrderDate</label>
       <!-- <input type="text" ng-model="OrderDate" class="form-control"> -->
       <%= f.text_field :orderdate, class: 'form-control', :'ng-model' => 'OrderDate' %>
     </div>
   </div>
 </div>
<div class="col-md-12">
<div class='col-md-3 text-center'>
 <h2>Shipping</h2>
 <%= render 'shipping', f: f %>
</div>
<div class="col-md-3">
  <h2>billing</h2>
  <%= render 'billing', f: f %>
</div>
<div class="col-md-12">
  <h3>Items</h3>
  <div class="links">
    <%= link_to_add_association 'add Item', f, :items %>
  </div>
  <%= f.fields_for :items do |item| %>
  <%= render 'item_fields', f: item   %>
  <% end %>
</div>
</div>
<div class="col-md-12">
  <%= f.submit "Save", class: 'btn btn-primary' %>
</div>
<% end %>
</div>
</div>
<%= content_for :javascripts do %>
<script>
var App = angular.module('myApp', []);
App.controller('formCtrl', 
  function get($scope, $http ) {
    $http.get('/xmlformat.json').then(
     function(res){
      $scope.OrderDate = <%= Date.today %>;
      $scope.data = res.data;
    });
  }
  );
</script>
<% end %>
