<!DOCTYPE html>
<html>
<head>
  <title>RubyNodeAngular</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <!-- just sampe we didn't need devicse gem we can use static user -->
  <%= node_rails_client(@current_user) %>
  <%= yield :javascripts %>
</body>
</html>
